body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color:  #ffffff;

    background-color: #849d8f;
}

h1 {
    font-size: 35px;
    text-align: left;
    line-height: 41px;
    font-weight: 700; 
    color: #ffffff;
}

.visually-hidden{
    display: none;
}

.form-field {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-weight: 400; 
    color: #999999;

    background-color: #ffffff;
}

.button {
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    font-weight: 700; 
    color: #fefefe;

    background-color: #e74a35;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    font-weight: 400; 
    color: #ffffff;
}

.breadcrumbs-current {
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    font-weight: 400; 
    color: #ffffff;
}

.icecream-catalog {
    list-style: none;
}

.icecream-catalog a {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: 500; 
    color: #ffffff;
}
.icecream-catalog img {
    border-radius: 50%;
}

.icecream-catalog h3 {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: 500; 
    color: #ffffff;
}

.icecream-catalog span {
    font-size: 45px;
    text-align: left;
    line-height: 45px;
    font-weight: 700; 
    color: #ffffff;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 27px;
}

.main-header {
    padding-top: 9px;
    min-height: 113px;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color:  #ffffff;

    background-color: #849d8f;
}

.logo {
    display: flex;
    width: 154px;
    height: 64px;
}

.site-navigation{
    display: flex;
    padding-left: 0px;
}
.site-navigation li {
    padding-left: 25px;
}

.user-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.user-navigation li {
    padding-left: 10px;
}

.site-navigation,
.user-navigation,
.icecream-catalog {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #333333;
    text-decoration: none;

    background-color: #f7f6f3;
}

.time-visiting {
    font-size: 14px;
    text-align: right;
    line-height: 16px;
    font-weight: 700;

    background-color: #849d8f;
}

.telephone {
    font-size: 22px;
    text-align: right;
    line-height: 24px;
    font-weight: 700;

    background-color: #849d8f;
}

.advantages-conteiner {
    width: 1146px;
    min-height: 306px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.advantages-conteiner li{
    width: 475px;
    min-height: 61px;
}

.advantages {
    background-color: #8996a6;
    background-image: url(../img/wafllefon.jpg); 
    background-repeat: no-repeat;
}

.advantages p {
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    font-weight: 500; 
    color: #323232;
}
.advantages ul {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
    font-weight: 400; 
    color: #323232;

    list-style: none;
}

.blog {
    background-color: #8996a6;
    background-image: url(../img/strawberryfon.jpg);
    background-repeat: no-repeat;
}

.blog p {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
    font-weight: 500; 
    color: #323232;
}

.blog a {
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    font-weight: 700; 
    color: #323232;
}
.promotional {
    background-color: #8996a6;
    background-image: url(../img/bg-post.svg);
    background-repeat: no-repeat;
}

.promotional-form {
    background-color: #f8f7f4;
}

.promotional-form p {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
    font-weight: 400; 
    color: #5a5a5a;
}

.main-footer a {
    color: #ffffff;
}

.footer-social ul {
    list-style: none;
}

.footer-contacts ul {
    font-size: 13px;
    text-align: left;
    line-height: 18px;
    font-weight: 400; 
    color: #ffffff;

    list-style: none;
}

.footer-contacts li:first-child {
    font-weight: 700; 
}

.footer-copyright {
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    font-weight: 400; 
    color: #fefefe;
}

.slider h2 {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 700; 
    color: #ffffff;
}

.promotion h2 {
    font-size: 35px;
    text-align: left;
    line-height: 41px;
    font-weight: 700; 
    color: #ffffff;
}

.promotion p {
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    font-weight: 700; 
    color: #ffffff;
}

.info p {
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    font-weight: 400; 
    color: #323232;
}

.info span {
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    font-weight: 700; 
    color: #323232;
}

.title  {
    font-size: 35px;
    text-align: left;
    line-height: 41px;
    font-weight: 700; 
    color: #ffffff;
}

.icecream-filter .name-filter {
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    font-weight: 500; 
    color: #ffffff;
}

.name-filter label,.sort-list,.filter-button {
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    font-weight: 500; 
    color: #ffffff;
}

.pagination {
    list-style: none;
}

.pagination a {
    font-size: 16px;
    text-align: right;
    line-height: 18px;
    font-weight: 500; 
    color: #ffffff; 
    text-decoration: none;
}

.current-page a {
    font-size: 16px;
    text-align: right;
    line-height: 18px;
    font-weight: 500; 
    color: #000000    ; 
    text-decoration: none;
}

